* {
  margin: 0;
  padding: 0;
}

html {
  color: #c7f0c7;
  line-height: 1.4;
  font-size: 16pt;
  text-align: center;
  font-family: Helvetica;
  background-color: #6e0d1a;
}

/* FONTS */

.truculenta-<uniquifier> {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.berkshire-swash-regular {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
}

.caveat-brush-regular {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

/* MAIN AND HEAD ALL */

header {
  font-family: Caveat Brush;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  width: auto;
  padding: 0 20rem;
  font-size: 1.25rem;
}

a {
  color: #637263;
  text-decoration: none;
}

a:hover {
  color: #c7f0c7;
  font-size: 1.35rem
}

main {
  margin: 0 15rem;
}

h1 {
  font-family: Berkshire Swash;
  font-size: 4rem;
}

h2 {
  font-family: Truculenta;
  font-size: 2rem;
  font-weight: 800;
}

h3 {
  font-family: Truculenta;
  font-size: 1.5rem;
  font-weight: 650;
}

p {
  font-family: Caveat Brush;
  font-size: 1.15rem;
  margin-bottom: 1rem;
}

img {
  width: 12.5rem;
  height: auto;
}

/* HOME */

.invitation {
  margin-bottom: -2rem;
  margin-top: 1rem;
}

.title {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: center;
  justify-items: center;
  margin-bottom: 3rem;
  border-bottom: 2.5px solid #637263;
  margin: 2rem 0;
}

.hook {
  margin-bottom: 3rem;
}

.info {
  line-height: 2rem
}

/* ABOUT */

.about-title {
  border-bottom: 2.5px solid #637263;
  margin: 2rem 0;
}

.what-is-this {
  margin-top: -2.2rem;
}

.scared {
  margin: -2rem 0 2rem 0;
}

.about-text {
  padding: 0 7.5rem;
  margin-bottom: 2rem;
}

.monkey-icon {
  width: 16.5rem;
  height: auto;
