* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
  text-align: center;
  font-family: Helvetica;
}

/* FONTS */

.truculenta-<uniquifier> {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.berkshire-swash-regular {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
}

.caveat-brush-regular {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

/* MAIN AND HEAD ALL */

header {
  font-family: Caveat Brush;
}

h1 {
  font-family: Berkshire Swash;
  font-size: 4rem;
}

h2 {
  font-family: Truculenta;
  font-size: 2rem;
  font-weight: 800;
}

h3 {
  font-family: Truculenta;
  font-size: 1.5rem;
  font-weight: 650;
}

p {
  font-family: Caveat Brush;
}
